* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none !important;
}

img {
    border: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
address {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* 
.container {
    max-width: 1400px !important;
} */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #000000;
}


/*main css starts now*/

.top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.top .photo img {
    width: 100px;
    border-radius: 50%;
}

.top .name {
    padding-left: 15px;
}

.top .name h2 {
    font-size: 30px;
    font-weight: 700;
}

.top .name h2 span {
    font-size: 12px;
    font-style: italic;
}

.top .name h3 {
    font-size: 14px;
    padding: 8px 0px;
    font-weight: 600;
}

.top .name h4 {
    font-size: 14px;
    font-weight: 600;
}


/*top part ends*/

.step_part {
    margin-bottom: 30px;
}

.step_part h2 {
    font-size: 30px;
    background: #2d2f57;
    color: #ffffff;
    display: inline;
    padding: 5px 20px 5px 80px;
    font-weight: 700;
    margin-left: -80px;
    position: relative;
}

.step_part h2::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: -50px;
    border-bottom: 51px solid #2d2f57;
    border-right: 50px solid transparent;
}

.step_part .contact_details {
    margin: 20px 0px;
}

.step_part .contact_details h4 {
    font-size: 14px;
    padding-top: 8px;
}

.step_part .edit {
	padding: 5px 25px;
	background: #82b2ee;
	font-size: 12px;
	color: #000000;
	border-radius: 35px;
	text-transform: uppercase;
	font-weight: 600;
}
label {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px 10px;
    font-size: 14px;
    color: #000000;
    border-radius: 0;
    text-align: center;
    border: 1px solid #cacaca;
}

.form-control:focus {
    background-color: #fff;
    border-color: #cacaca;
    outline: 0;
    box-shadow: none;
}


/*contact details ends*/

.step_part .quali_form {
    margin-top: 35px;
    margin-bottom: 50px;
}

.step_part .quali_form .submit {
    font-size: 14px;
    background: #2d2f57;
    color: #ffffff;
    padding: 7px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.step_part .quali_form .form-check {
    margin-bottom: 20px;
}
.step_part .quali_form p{
    font-size: 13px;
    font-weight: 600;
}

/*quali_form details ends*/

.step_part .license_form {
    margin: 40px 0px;
}

.step_part .license_form .license_btn {
    font-size: 14px;
    background: #2d2f57;
    color: #ffffff;
    padding: 7px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 30px 0px;
}


/*license_form details ends*/

#myTabContent {
	margin-bottom: 80px;
}
.table {
    border: 1px solid #dfdfdf;
    margin-top: 30px;
    width: 1000px;
    overflow-x: scroll;
}

.tab_table thead {
    background: #2d2f57;
    color: #ffffff;
}

.tab_table thead th {
    padding: 5px 10px;
    position: relative;
}

.tab_table thead th::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 2px;
    background: #ffffff;
    left: -7px;
}

.tab_table thead th:first-child::before {
    display: none;
}

.tab_table tbody {
    color: #525254;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    border: none;
    color: #000000;
    font-weight: 700;
    padding: 0;
    margin-right: 15px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #000000;
    border-bottom: 2px solid #000000;
}

.nav-tabs {
    border-bottom: none;
}

#accordion .accor_btn {
    position: relative;
}

#accordion .accor_btn h2 {
    font-size: 16px;
    font-weight: 600;
}

#accordion .accor_btn h2 i {
    color: #2d2f57;
}

.accor_btn.collapsed::before {
    content: '\f107' !important;
}

#accordion .accor_btn::before {
    position: absolute;
    content: '\f106';
    font-family: "FontAwesome";
    left: -20px;
    top: -2px;
}

#accordion .side_list {
    margin-bottom: 20px;
}

#accordion .side_list li {
    margin-bottom: 7px;
}

#accordion .side_list li a {
    color: #000000;
    font-size: 14px;
}

#accordion .accor_step {
    margin-bottom: 50px;
}
.check{
    padding: 20px 0px;
    border-top: 1px solid #cacaca;
}
.check h4{
    font-size: 16px;
    font-weight: 600;
    color: #2d2f57;

}
.exclusion_input{
    margin: 20px 0px;
}
.exclusion_btn{
    font-size: 14px;
    background: #2d2f57;
    color: #ffffff;
    padding: 7px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.check p {
    font-size: 14px;
    font-weight: 600;
}

.check p i {
    margin-right: 10px;
}
.check p span{
    color: #2d2f57;
}
.check ul li{
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    #accordion{
        margin: 0px 20px;
    }
    .check {
         margin: 0px -20px;
     }
     .step_part .quali_form p {
         margin-top: 30px;
     }
 }